API_ENV=dev
API_DEBUG=1
API_DB_URL=pgsql://api:secret@api-postgres:5432/api?charset=utf8

API_MAILER_HOST=mailer
API_MAILER_PORT=1025
API_MAILER_USERNAME=
API_MAILER_PASSWORD=
API_MAILER_ENCRYPTION=tcp

API_MAILER_FROM_EMAIL=mail@app.dev

API_OAUTH_PUBLIC_KEY_PATH=public.key
API_OAUTH_PRIVATE_KEY_PATH=private.key
API_OAUTH_ENCRYPTION_KEY=lxZFUEsBCJ2Yb14IF2ygAHI5N4+ZAUXXaSeeJm6+twsUmIen

API_STORAGE_URL=http://127.0.0.1:8083/video

API_AMQP_HOST=rabbitmq
API_AMQP_PORT=5672
API_AMQP_USERNAME=rabbit
API_AMQP_PASSWORD=rabbit
API_AMQP_VHOST=/